* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: #faf1e4;
  position: fixed;
  z-index: 2;

  .left-nav {
    p {
      font-weight: 500;
      font-size: 1rem;
      font-size: clamp(1rem, 5vw, 2rem);
      text-shadow: -2px -2px 18px #435334;
      font-family: "Ubuntu", sans-serif;
      color: #435334;
      margin-bottom: 0;
      padding-left: 25px;
    }
  }

  .right-nav {
    ul {
      width: 250px;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding-top: 15px;
      padding-right: 30px;

      li a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #435334;
      }

      a:hover {
        font-size: larger;
        text-shadow: -2px -2px 18px #435334;
      }
    }
  }
}

.bulk-guide-main {
  background-color: #9eb384;
  padding-top: 90px;

  .bulk-guide-hero-img {
    height: 100%;
    background-image: url(../images/bulk-guide-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .bulk-guide-intro {
      width: 500px;
      margin-top: 180px;
      margin-bottom: 350px;
    }
  }
}

.my-quide-container {
  padding-top: 30px;

  .my-first-row,
  .my-first-columns {
    background-color: #435334;
    padding-top: 10px;
    text-shadow: -1 -1 10 #faf1e4;
  }

  .bulk-guide-h3 {
    color: #faf1e4;
  }

  .bulk-guide-main-txt {
    color: #faf1e4;
    font-size: 1.3rem;
  }

  .bulk-guide-h4 {
    color: #faf1e4;
    text-shadow: -1 -2 10 #faf1e4;
  }

  .bulk-guide-txt {
    color: #435334;
    font-size: 1.2rem;
    text-align: justify;
  }

  img {
    width: 350px;
    height: 450;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
  }

  span {
    text-decoration: underline;
    font-weight: bold;
    color: indianred;
  }
}

footer {
  .copyright {
    text-align: center;
    color: #435334;
    font-size: 0.8rem;
    padding-top: 20px;
  }
}

#back {
  text-decoration: none;
  color: #faf1e4;
  text-shadow: -2px -2px 18px #435334;
}

#back:hover {
  font-size: larger;
}

@media (min-width: 300px) and (max-width: 775px) {
  .my-quide-container img {
    width: 150px;
    height: 300px;
  }
}
