* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: #faf1e4;
  position: fixed;
  z-index: 2;

  .left-nav {
    p {
      font-weight: 500;
      font-size: 1rem;
      font-size: clamp(1rem, 5vw, 2rem);
      text-shadow: -2px -2px 18px #435334;
      font-family: "Ubuntu", sans-serif;
      color: #435334;
      margin-bottom: 0;
      padding-left: 25px;
    }
  }

  .right-nav {
    ul {
      width: 250px;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding-top: 15px;
      padding-right: 30px;

      li a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #435334;
      }

      a:hover {
        font-size: larger;
        text-shadow: -2px -2px 18px #435334;
      }
    }
  }
}

.bulk-mix-main {
  background-color: #9eb384;
  padding-top: 90px;

  .bulk-mix-hero-img {
    height: 500px;
    background-image: url(../images/bulk-3saladsn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.my-mix-section {
  text-align: justify;

  h3,
  h4 {
    text-shadow: -2px -2px 18px #faf1e4;
    color: #435334;
    padding-top: 20px;
  }

  p {
    text-shadow: -2px -2px 18px #435334;
    color: #faf1e4;
  }

  .my-mix-match-txt {
    background-color: #435334;
    text-shadow: -2px -2px 18px #9eb384;
    padding: 10px;
    border-radius: 20px;
  }

  span {
    color: #435334;
    text-decoration: underline;
  }
}

footer {
  .copyright {
    text-align: center;
    color: #435334;
    font-size: 0.8rem;
    padding-top: 20px;
  }
}

#back {
  text-decoration: none;
  color: #faf1e4;
  text-shadow: -2px -2px 18px #435334;
}

#back:hover {
  font-size: larger;
}
