* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: #faf1e4;
  position: fixed;
  z-index: 2;

  .left-nav {
    p {
      font-weight: 500;
      font-size: 1rem;
      font-size: clamp(1rem, 5vw, 2rem);
      text-shadow: -2px -2px 18px #435334;
      font-family: "Ubuntu", sans-serif;
      color: #435334;
      margin-bottom: 0;
      padding-left: 25px;
    }
  }

  .right-nav {
    ul {
      width: 250px;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding-top: 15px;
      padding-right: 30px;

      li a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #435334;
      }
    }
  }
}

// Hero

.bulk-main {
  background-color: #435334;
  padding-top: 90px;

  .animate__animated.animate__slideInUp {
    animation-duration: 4s;
    animation-delay: 0.2s;
  }

  .bulk-hero-img {
    height: 530;
    background-image: url(../images/bulk-main2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .bulk-intro {
      width: 500px;
      color: #435334;
      border: 1px solid #9eb384;
      background: rgba(67, 83, 52, 0.4);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(8.2px);
      -webkit-backdrop-filter: blur(8.2px);
      text-shadow: -4px -4px 16px #9eb384;
      padding: 15px 20px;
      font-size: clamp(1rem, 10vw, 1.5rem);
      font-weight: 500;
      text-align: center;

      span {
        color: #faf1e4;
        text-shadow: -4px -6px 8px gray;
      }
    }
  }
}

// Bulk-cards

.bulk-cards {
  position: relative;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}

#my-bulk-container {
  width: 100vw;
  margin-top: 60px;

  #my-bulk-row {
    #my-bulk-col1,
    #my-bulk-col2,
    #my-bulk-col3,
    #my-bulk-col4 {
      height: 550px;
      width: 290px;
      display: block;
      background-color: #cedebd;
      box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
      gap: 20px;

      .bulk-imgs {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
        margin-top: 40px;
        margin-bottom: 20px;
      }

      h4 {
        margin-top: 10px;
      }

      h4,
      h6 {
        color: #435334;
      }

      #bulk-h6-txt1,
      #bulk-h6-txt2 {
        margin-bottom: 25px;
      }

      #bulk-mix-card {
        margin-bottom: 25px;
      }

      p {
        color: #faf1e4;
        text-shadow: -4px -2px 18px #243217;
        margin-top: 5px;
        background-color: #9eb384;
        border-radius: 5px;
      }

      .bulk-card-txt {
        margin-top: 10px;
        margin-bottom: 30px;
      }

      .bulk-card-txt2 {
        margin-top: 55px;
        margin-bottom: 30px;
      }

      .bulk-card-txt4 {
        margin-top: 55px;
      }

      .bulk-more {
        color: #435334;
        text-decoration: none;
        border-bottom: 1px solid #435334;
        padding-bottom: 3px;
      }

      .bulk-more:hover {
        font-size: larger;
        text-shadow: -2px -2px 18px #435334;
      }
    }
  }
}

.bulk-footer {
  .copyright {
    text-align: center;
    color: #faf1e4;
    font-size: 0.8rem;
    margin-top: 50px;
    padding-bottom: 30px;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  .bulk-intro {
    width: 400px;
  }
}

@media (min-width: 230px) and (max-width: 610px) {
  main .bulk-hero-img .bulk-intro {
    width: 400px;
  }
}
