* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: #faf1e4;
  position: fixed;
  z-index: 2;

  .left-nav {
    p {
      font-weight: 500;
      font-size: 1rem;
      font-size: clamp(1rem, 5vw, 2rem);
      text-shadow: -2px -2px 18px #435334;
      font-family: "Ubuntu", sans-serif;
      color: #435334;
      margin-bottom: 0;
      padding-left: 25px;
    }
  }

  .right-nav {
    ul {
      width: 250px;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding-top: 15px;
      padding-right: 30px;

      li a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #435334;
      }
    }
  }
}

.grow-main {
  background-color: #9eb384;
  padding-top: 90px;

  .grow-hero-img {
    height: 700px;
    background-image: url(../images/grow-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .grow-intro {
      width: 500px;
      margin-top: 180px;
      margin-bottom: 350px;
    }
  }
}

.my-grow-section {
  text-align: justify;

  h4 {
    text-shadow: -2px -2px 18px #faf1e4;
    color: #faf1e4;
    padding-top: 20px;
  }

  .grow-main-txt {
    text-shadow: -2px -2px 18px #faf1e4;
    color: #435334;
  }
}

.video-container {
  background-color: #435334;
  padding: 20px 0;
  border-radius: 10px;
}

.grow-products {
  margin-top: 30px;
  margin-bottom: 30px;

  .grow-product-cards {
    border: 2px solid #435334;
    background-color: #435334;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;

    .grow-product-imgs {
      width: 180px;
      height: 180px;
      border-radius: 15px;
      padding: 10px;
    }

    .grow-a {
      color: #faf1e4;
      text-align: center;
    }
  }
}
