* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: #faf1e4;
  position: fixed;
  z-index: 2;

  .left-nav {
    p {
      font-weight: 500;
      font-size: 1rem;
      font-size: clamp(1rem, 5vw, 2rem);
      text-shadow: -2px -2px 18px #435334;
      font-family: "Ubuntu", sans-serif;
      color: #435334;
      margin-bottom: 0;
      padding-left: 25px;
    }
  }

  .right-nav {
    ul {
      width: 250px;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding-top: 15px;
      padding-right: 30px;

      li a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #435334;
      }
    }
  }
}

.recipes-main {
  background-color: #9eb384;
  padding-top: 90px;

  .recipes-hero-img {
    height: 100%;
    background-image: url(../images/Pastitsio-_4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .recipes-intro {
      width: 500px;
      margin-top: 180px;
      margin-bottom: 350px;
    }
  }
}

.my-recipes-container {
  li {
    list-style: none;
  }

  h4,
  h5,
  p {
    padding-left: 30px;
  }

  p {
    padding-top: 0;
    padding-bottom: 0;
    color: maroon;
  }

  .ingredients {
    color: #435334;
    border: 1px solid rgba(255, 255, 255, 0.62);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    text-shadow: -4px -4px 16px #9eb384;
    margin: 10px 0;
  }

  .execution {
    color: #435334;
    border: 1px solid rgba(255, 255, 255, 0.62);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    text-shadow: -4px -4px 16px #9eb384;

    text-align: justify;
  }
}
