// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap");
@import "./about-us";
@import "./recipes_cards";
@import "./bulk";
@import "./pantry";
@import "./grow_food";
@import "./bulk-advantage";
@import "./bulk-essential";
@import "./bulk-guide";

// Write your sass code here or import partials
// nav - bar
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: #faf1e4;
  position: fixed;
  z-index: 2;

  .left-nav {
    p {
      font-weight: 500;
      font-size: 1rem;
      font-size: clamp(1rem, 5vw, 2rem);
      text-shadow: -2px -2px 18px #435334;
      font-family: "Ubuntu", sans-serif;
      color: #435334;
      margin-bottom: 0;
      padding-left: 25px;
    }
  }

  .right-nav {
    ul {
      width: 250px;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding-top: 15px;
      padding-right: 30px;

      li a {
        font-size: 1.2rem;
        text-decoration: none;
        color: #435334;
      }

      a:hover {
        font-size: larger;
        text-shadow: -2px -2px 18px #435334;
      }
    }
  }
}

// main - options cards

main {
  background-color: #faf1e4;
  padding-top: 90px;

  .hero-img {
    height: 90%;
    background-image: url(../images/mainpage2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .animate_animated.animate_zoomIn {
      animation-duration: 4s;
      animation-delay: 0.9s;
    }

    .div-intro {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }

    .intro {
      width: 600px;
      color: #faf1e4;
      border: 1px solid rgba(255, 255, 255, 0.62);
      background: rgba(255, 255, 255, 0.4);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.2px);
      -webkit-backdrop-filter: blur(8.2px);
      text-shadow: -4px -4px 16px #9eb384;
      padding: 15px 20px;
      font-size: clamp(1rem, 10vw, 1.5rem);
      font-weight: 500;
      text-align: justify;
      margin-top: 180px;

      span {
        color: #435334;
        text-shadow: -4px -6px 8px gray;
      }
    }
  }
}

.cards {
  position: relative;
  top: -140px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}

#my-container {
  width: 100vw;
  margin-top: 60px;

  #my-row {
    #my-col1,
    #my-col2,
    #my-col3,
    #my-col4 {
      height: 550px;
      width: 290px;
      display: block;
      background-color: #cedebd;
      box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
      gap: 20px;

      .home-imgs {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: -30px 30px 20px rgba(0, 0, 0, 0.3);
        margin-top: 40px;
        margin-bottom: 20px;
      }

      .animate__animated.animate__slideInUp {
        animation-duration: 4s;
        animation-delay: 1.5s;
      }

      h4 {
        margin-top: 10px;
      }

      h4,
      h6 {
        color: #435334;
      }

      #h6-txt1,
      #h6-txt2 {
        margin-bottom: 25px;
      }

      #seed-card {
        margin-bottom: 25px;
      }

      p {
        color: #faf1e4;
        text-shadow: -4px -2px 18px #243217;
        margin-top: 5px;
        background-color: #9eb384;
        border-radius: 5px;
      }

      .card-txt {
        margin-top: 10px;
        margin-bottom: 30px;
      }

      .card-txt2 {
        margin-bottom: 50px;
      }

      .more {
        color: #435334;
        text-decoration: none;
        border-bottom: 1px solid #435334;
        padding-bottom: 3px;
      }

      .more:hover {
        font-size: larger;
        text-shadow: -2px -2px 18px #435334;
      }
    }
  }
}

footer {
  .copyright {
    text-align: center;
    color: #435334;
    font-size: 0.8rem;
    margin-top: 20px;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  .intro {
    width: 400px;
  }
}

@media (min-width: 230px) and (max-width: 610px) {
  main .hero-img .intro {
    width: 400px;
  }
}
